![Image in a markdown cell](https://cursos.utnba.centrodeelearning.com/pluginfile.php/1/theme_space/customlogo/1738330016/Logo%20UTN%20Horizontal.png)

---

# **Diplomado en Ciencia de datos**

# Actividades Tema 2 y 3: Manipulación de Datos con Python

**Instrucciones:**

Esta actividad tiene como objetivo evaluar tu comprensión de la librería Pandas en Python.
Utilizarás el dataset 'mpg' disponible en Seaborn para responder a las preguntas planteadas.

Sigue las instrucciones cuidadosamente y escribe el código necesario para cada tarea.

In [2]:
import pandas as pd
import seaborn as sns

## **Dataset**

In [3]:
df = sns.load_dataset('mpg')

## 1. Conociendo el Dataset
Investiga sobre el dataset con el que vamos a trabajar. El dataset es parte de la librería Seaborn y se llama mpg. Determina:
* Información general del dataset
* Variables que contiene y una breve descripción de las mismas


## 2. Visualización del Dataset
* Imprime las primeras 5 filas del DataFrame para verificar la carga.
* Imprimi la últimas 5 filas del dataframe

## 3. Información General del DataFrame
* Utiliza el método adecuado de Pandas para obtener un resumen de la información del DataFrame,
* incluyendo el tipo de datos de cada columna y la cantidad de valores no nulos.

## 4. Estadísticas Descriptivas
* Calcula las estadísticas descriptivas (media, desviación estándar, mínimo, máximo, etc.) para las columnas numéricas del DataFrame.

## 5. Selección de Columnas
* Crea un nuevo DataFrame llamado 'df_subset' que contenga solo las columnas 'mpg', 'cylinders', 'displacement' y 'horsepower'.
* Imprime las primeras 5 filas del nuevo DataFrame.

## 6. Manejo de Valores Nulos
* Cuenta la cantidad de valores nulos en cada columna del DataFrame 'df'.
* Luego, reemplaza los valores nulos en la columna 'horsepower' con la mediana de esa columna.
* Verifica que no queden valores nulos en la columna 'horsepower' después del reemplazo.

## 7. Agrupación de Datos
* Agrupa el DataFrame 'df' por la columna 'origin' y calcula la media de la columna 'mpg' para cada origen.
* Imprime el resultado.

## 8. Creación de una Nueva Columna
* Crea una nueva columna en el DataFrame 'df' llamada 'efficiency' que clasifique los vehículos en los siguientes grupos:
  * 'Bajo' si mpg < 20
  * 'Medio' si 20 <= mpg < 30
  * 'Alto' si mpg >= 30
* Imprime las primeras 10 filas del DataFrame con la nueva columna.

## 9. Ordenamiento de Datos
* Ordena el DataFrame 'df' por la columna 'mpg' en orden descendente.
* Imprime las primeras 5 filas del DataFrame ordenado.

## 10. Guardar el DataFrame Modificado
* Guarda el DataFrame 'df' modificado en un archivo CSV llamado 'mpg_modificado.csv',
* sin incluir el índice.

---